@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BanDienThoai.Models

<style>
    .card-img {
        height: 300px;
        object-fit: contain;
    }

    .lienket {
        margin: 5px;
        text-decoration: none;
        color: black;
    }

        .lienket:hover {
            color: #be1e2d;
        }
</style>
<div>
    <div class="row">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://cdn-v2.didongviet.vn/files/banners/2023/9/17/1/1697514275539_samsung_20_10_824_x_400.jpg" class="d-block" width="1300px">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn-v2.didongviet.vn/files/banners/2023/9/9/1/1696823145573_xiaomi_13t_385qt_824x400.jpg" class="d-block" width="1300px">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn-v2.didongviet.vn/files/banners/2023/9/19/1/1697700289551_2010_01.jpg" class="d-block" width="1300px">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn-v2.didongviet.vn/files/banners/2023/9/4/1/1696391872528_pk_ip_15_824x400.jpg" class="d-block" width="1300px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    @Html.Action("dsHang", "User")
<div class="row">
    @{ if (Model != null)
        {
            foreach (var item in Model)
            {
            <div class="col-3">
                <a class="lienket" href="/User/CTPhone/?maSP=@item.Id">
                    <div class="card text-center">
                        <img class="card-img" src="@item.Img" alt="Avatar">
                        <div class="container">
                            <h5><b>@item.Name</b></h5>
                            @{
                                int price = item.Pri;
                                string formattedPrice = price.ToString("N0");
                            }
                            <h5>Giá chỉ: @formattedPrice</h5>
                        </div>
                    </div>
                </a>
            </div>
             }
       }
       else
       {
           <img src="https://png.pngtree.com/png-vector/20190828/ourlarge/pngtree-search-icon-vector-design-png-image_1707171.jpg" width="100px"/>
       }
     }
</div>
</div>

